<h1>Editing saldo</h1>

<% form_for(@saldo) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :fecha %><br />
    <%= f.date_select :fecha %>
  </p>
  <p>
    <%= f.label :datos %><br />
    <%= f.text_area :datos %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @saldo %> |
<%= link_to 'Back', saldos_path %>